## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

* Python
* SQL
* R

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R Statistical language

Some of the coomonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn

| Data Science Tools|
|--------------------|
|Hadoop|
|Apache|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [3]:
200/60

3.3333333333333335

## Author

Sumi Yohannan